@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=VT323&display=swap');

:root {
  --primary: #00b29d;
  --border-color: rgb(194, 187, 187);
}

html {
  scroll-behavior:smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f2f2f2;
  font-family: "Poppins";
}
.tabs {
  width: 500px;
  margin: 100px auto;
  background-color: white;;
}

/* buttons */

.nav {
  border: 1px solid var(--border-color);
  display: flex;
  margin: 0 auto;
}

li {
  list-style-type: none;
  border-right: 1px solid var(--border-color);
  padding: .5rem;
  width: 200px;
  font-size: .9rem; 
}

li:last-child {
  border-right: none;
}

li:active {
  background-color: var(--primary);
}

.nav-link {
  text-decoration: none;
  color: rgb(48, 46, 46);
}

/* panels */

#product,
#delivery,
#returns {
  border: 1px solid var(--border-color);
  border-top: none;
  padding: .5rem;
  margin: 0 auto;
}

section {
  display: none;
}

:target {
  display: block;
}

#product h1,
#delivery h1,
#returns h1 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

#product p,
#delivery p,
#returns p {
  color: rgb(56, 56, 56);
  font-size: .8rem;
  margin-bottom: .5rem;
}