@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=VT323&display=swap');

* {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
}
body {
  background: #222;
  text-align: center;
  color: #fff;
}
h1 {
  margin: 20px 0;
}
section > div {
  display: inline-block;
  text-align: left;
  height: 30px;
  line-height: 30px;
  font-size: 1.5rem;
}

section {
  overflow: hidden;
}

.word-list {
  display: flex;
  flex-direction: column;
}

.word-list > span {
  margin-bottom: 20px;
  animation-name: text-loop;
  animation-duration: 10s;
  animation-iteration-count:infinite;
  animation-timing-function:cubic-bezier(0.165, 0.84, 0.44, 1);
}

.word-list > span:nth-child(1) {
  color: rgb(197, 27, 27);
}

.word-list > span:nth-child(2) {
  color: rgb(76, 172, 76);
}

.word-list > span:nth-child(3) {
  color: rgb(228, 228, 98);
}

.word-list > span:nth-child(4) {
  color: rgb(175, 68, 175);
}

.word-list > span:nth-child(5) {
  color: rgb(118, 152, 204);
}

/* animation */

@keyframes text-loop {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-50px);
  }

  40% {
    transform: translateY(-100px);
  }

  60% {
    transform: translateY(-150px);
  }

  80% {
    transform: translateY(-200px);
  }

  100% {
    transform: translateY(0);
  }
}