/* start styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=VT323&display=swap');

body {
  margin: 0;
  background: #444;
  font-family: "Poppins";
}
li, ul {
  list-style-type: none;
  padding: 0;
}
main {
  padding: 140px 40px 40px;
  color: #bbb;
}

/* solution styles */

.menu {
  position: relative;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.site-title {
  font-size: 2.5rem;
  color: rgb(226, 223, 223);
}

.menu-button {
  all: unset;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  z-index: 100;
  position: relative;
}

/* open state */
.navigation-container {
  padding-left: 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transform: translateX(-100%);
  transition: transform .5s;
  background-color: rgb(19, 19, 19, .9);
  padding-top: 7rem;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 200px;
}

.open {
  transform: translateX(0);
  transition: transform .5s;
}

/* transitions */

.line,
.line::before,
.line::after {
  display: block;
  width: 3rem;
  height: .3rem;
  opacity: 1;
  transition: all 350ms ease-in-out;
}

.line {
  background-color: white;
}

.line::before,
.line::after {
  content: '';
  position: absolute;
  background-color: white;
}

.line::before {
  bottom: 9px;
}

.line::after {
  bottom: 18px;
}

.line[class*='open'] {
  transform: rotate(-45deg) translateX(3px);
}

.line[class*='open']:after {
  transform: rotate(90deg) translateX(18px);
}

.line[class*='open']:before {
  opacity: 0;
}


